---
import Layout from '../layouts/Layout.astro';
import GitHubIcon from "./icons/GitHubIcon.astro";

import { getI18N } from '../i18n/';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n.Title} description={i18n.Description}>
    <main class="grid w-full h-full bg-gray-100 overflow-hidden grid-cols-2 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-y-2">
        <div class="m-3 rounded-md bg-gray-300 col-span-2 row-auto sm:col-span-4 md:col-span-5 lg:col-span-6">
            <span class="w-full h-full">
                <h1 class="mt-5 text-gray-800 text-5xl font-extrabold text-center">Francisco Javier Castilleja Quintanilla</h1>
                <h3 class=" text-gray-700 text-lg text-center">{i18n.EC_Description} - Tamaulipas, México</h3>
                <p class="mt-1 mb-5 text-gray-600 text-pretty text-center">{i18n.Resume_Description}</p>
            </span>
        </div>
        <div class="m-3 px-5 text-black rounded-md bg-gray-300 col-span-2 row-auto sm:col-span-4 md:col-span-5 lg:col-span-6">
            <h2 class="my-3 text-3xl">{i18n.Menu_OP_2.toUpperCase()}</h2>
            <div class="w-full h-auto">
                <h5 class="my-2 text-lg font-bold">{i18n.Resume_EX_Header_1}</h5>
                <h6 class="my-2 text-base">2023 - {i18n.Exp_Date_Now.toUpperCase()}</h6>
                <p class="my-1">{i18n.Resume_EX_Description_1_1}</p>
                <p class="my-1">{i18n.Resume_EX_Description_1_2}</p>
                <p class="my-1">{i18n.Resume_EX_Description_1_3}</p>
                <span class="flex gap-x-3">
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">Python</p>
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">TensorFlow</p>
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">OpenCV</p>
                </span>
                <hr class="my-2">
            </div>
            <div class="w-full h-auto">
                <h5 class="my-2 text-lg font-bold">{i18n.Resume_EX_Header_2}</h5>
                <h6 class="my-2 text-base">{i18n.Resume_EX_Date_2}</h6>
                <p class="my-1">{i18n.Resume_EX_Description_2_1}</p>
                <p class="my-1">{i18n.Resume_EX_Description_2_2}</p>
                <p class="my-1">{i18n.Resume_EX_Description_2_3}</p>
                <span class="flex gap-x-3">
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">HTML</p>
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">CSS</p>
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">JavaScript</p>
                </span>
                <hr class="my-2">
            </div>
            <div class="w-full h-auto">
                <h5 class="my-2 text-lg font-bold">{i18n.Resume_EX_Header_3}</h5>
                <h6 class="my-2 text-base">{i18n.Resume_EX_Date_3}</h6>
                <p class="my-1">{i18n.Resume_EX_Description_3_1}</p>
                <p class="my-1">{i18n.Resume_EX_Description_3_2}</p>
                <p class="my-1">{i18n.Resume_EX_Description_3_3}</p>
            </div>
        </div>
        <div class="m-3 px-5 text-black rounded-md bg-gray-300 col-span-2 row-auto sm:col-span-4 md:col-span-5 lg:col-span-6">
            <h2 class="my-3 text-3xl">{i18n.Resume_ED}</h2>
            <div class="w-full h-auto">
                <h5 class="my-2 text-lg font-bold">UNIVERSIDAD AUTÓNOMA DE TAMAULIPAS</h5>
                <h6 class="my-2 text-base">Facultad de Medicina e Ingeniería en Sistemas Computacionales de Matamoros</h6>
                <h6 class="my-2 text-base">{i18n.EC_Description} ({i18n.EC_Title})</h6>
                <h6 class="my-2 text-base">2019 - 2023</h6>
                <p class="mb-2">{i18n.Resume_ED_Description}</p>
            </div>
        </div>
        <div class="m-3 px-5 text-black rounded-md bg-gray-300 col-span-2 row-auto sm:col-span-4 md:col-span-5 lg:col-span-6">
            <h2 class="my-3 text-3xl">{i18n.Resume_INF}</h2>
            <div class="w-full h-auto">
                <hr>
                <p class="my-3 text-lg">{i18n.Resume_INF_SSkills}</p>
                <span class="grid gap-x-3 grid-cols-2 md:flex">
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">{i18n.Resume_INF_Twork}</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">{i18n.Resume_INF_PRes}</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">{i18n.Resume_INF_Creat}</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">{i18n.Resume_INF_CLearn}</p>
                </span>
                <hr>
                <p class="my-3 text-lg">{i18n.Resume_INF_HSkills}</p>
                <span class="grid gap-x-3 grid-cols-2 md:flex">
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">HTML</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">CSS</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">JavaScript</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Astro</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Tailwind CSS</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Git</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">GitHub</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Python</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">MySQL</p>
                    <p class="grid place-items-center my-1 p-1 text-center border border-gray-800 rounded-lg">Microsoft SQL Server</p>
                </span>
                <hr>
                <p class="my-3 text-lg">{i18n.Menu_OP_10.toUpperCase()}S</p>
                <span class="flex gap-x-3">
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">{i18n.Resume_LAN_ES}</p>
                    <p class="my-1 p-1 border border-gray-800 rounded-lg">{i18n.Resume_LAN_EN}</p>
                </span>
                <hr class="w-11/12">
                <p class="my-3 text-lg">{i18n.Menu_OP_9.toUpperCase()}</p>
                <p class="my-1">Francisco_Castilleja@outlook.com</p>
                <p class="my-1">8681581653</p>
                <p class="my-1">linkedin.com/in/francisco-castilleja</p>
                <p class="my-1">github.com/FranciscoCastilleja</p>
            </div>
        </div>

        <div data-dial-init class="fixed end-6 bottom-6 group">
            <div id="speed-dial-menu-click" class="flex-col items-center hidden mb-4 space-y-2">
                <button id="btn_back" value={i18n.Link_Index} type="button" data-tooltip-target="tooltip-print" data-tooltip-placement="left" class="flex justify-center items-center w-[52px] h-[52px] text-gray-600 hover:text-gray-900 bg-purple-300 rounded-full border border-purple-200 dark:border-purple-600 shadow-sm dark:hover:text-white dark:text-gray-300 hover:bg-purple-100 dark:bg-purple-700 dark:hover:bg-purple-600 focus:ring-4 focus:ring-purple-300 focus:outline-none dark:focus:ring-purple-400">
                    <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M15 6l-6 6l6 6" />
                    </svg>
                </button>
                <button id="btn_pdf" type="button" data-tooltip-target="tooltip-download" data-tooltip-placement="left" class="flex justify-center items-center w-[52px] h-[52px] text-gray-600 hover:text-gray-900 bg-purple-300 rounded-full border border-purple-200 dark:border-purple-600 shadow-sm dark:hover:text-white dark:text-gray-300 hover:bg-purple-100 dark:bg-purple-700 dark:hover:bg-purple-600 focus:ring-4 focus:ring-purple-300 focus:outline-none dark:focus:ring-purple-400">
                    <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                        <path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
                        <path d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6" />
                        <path d="M17 18h2" />
                        <path d="M20 15h-3v6" />
                        <path d="M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z" />
                    </svg>
                    <a id="a_pdf" class="hidden" href=`/media/${i18n.Link_PDF}` download={i18n.Link_PDF}></a>
                </button>
                <a id="a_png1" href=`/media/${i18n.Link_PNG_1}` download={i18n.Link_PNG_1}>
                    <button id="btn_png" type="button" data-tooltip-target="tooltip-copy" data-tooltip-placement="left" class="flex justify-center items-center w-[52px] h-[52px] text-gray-600 hover:text-gray-900 bg-purple-300 rounded-full border border-purple-200 dark:border-purple-600 shadow-sm dark:hover:text-white dark:text-gray-300 hover:bg-purple-100 dark:bg-purple-700 dark:hover:bg-purple-600 focus:ring-4 focus:ring-purple-300 focus:outline-none dark:focus:ring-purple-400">
                        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                            <path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
                            <path d="M20 15h-1a2 2 0 0 0 -2 2v2a2 2 0 0 0 2 2h1v-3" />
                            <path d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6" />
                            <path d="M11 21v-6l3 6v-6" />
                        </svg>
                        <a id="a_png2" class="hidden" href=`/media/${i18n.Link_PNG_2}` download={i18n.Link_PNG_2}></a>
                    </button>
                </a>
            </div>
            <button type="button" id="btn" data-dial-toggle="speed-dial-menu-click" data-dial-trigger="click" aria-controls="speed-dial-menu-click" aria-expanded="false" class="flex items-center justify-center text-white bg-purple-700 rounded-full w-14 h-14 hover:bg-purple-800 dark:bg-purple-600 dark:hover:bg-purple-700 focus:ring-4 focus:ring-purple-300 focus:outline-none dark:focus:ring-purple-800">
                <svg class="w-5 h-5 transition-transform group-hover:rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                </svg>
            </button>
        </div>
    </main>
</Layout>

<script>
    const btn = document.getElementById('btn') as HTMLButtonElement;
    const pnl = document.getElementById('speed-dial-menu-click') as HTMLElement;
    const btn_back = document.getElementById('btn_back') as HTMLButtonElement;
    const btn_pdf = document.getElementById('btn_pdf') as HTMLButtonElement;
    const btn_png = document.getElementById('btn_png') as HTMLButtonElement;

    btn.addEventListener('click', () => {
        if (pnl.classList.contains('hidden')) {
            pnl.classList.replace('hidden', 'flex');
        } else {
            pnl.classList.replace('flex', 'hidden');
        }
    });
    
    document.addEventListener('click', (event) => {
        if (!(btn && btn.contains(event.target as Node))) {
            if (pnl.classList.contains('flex')) {
                pnl.classList.replace('flex', 'hidden');
            }
        }
    });

    btn_back.addEventListener('click', () => {
        window.location.href = btn_back.value;
    });

    btn_pdf.addEventListener('click', () => {
        var pdf = document.getElementById('a_pdf') as HTMLAnchorElement;

        pdf.click();
    })

    btn_png.addEventListener('click', () => {
        var png2 = document.getElementById('a_png2') as HTMLAnchorElement;
        
        png2.click();
    })
</script>