---
import Layout from '../layouts/Layout.astro';
import GitHubIcon from "./icons/GitHubIcon.astro";

import { getI18N } from '../i18n/';
import PinIcon from './icons/PinIcon.astro';
import PhoneIcon from './icons/PhoneIcon.astro';
import ArrobaIcon from './icons/ArrobaIcon.astro';
import LinkIcon from './icons/LinkIcon.astro';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n.Title} description={i18n.Description}>
    <main class="w-full h-full bg-white overflow-hidden gap-y-2">
        <div class="grid m-3 h-full place-items-center xl:flex">
            <span class="grid w-full h-auto place-items-start gap-y-3">
                <h1 class="text-black text-center text-xl font-extrabold md:text-5xl xl:text-left">Francisco Javier Castilleja Quintanilla</h1>
                <h3 class=" text-black text-center text-lg xl:text-left">{i18n.EC_Description}</h3>
                <span class="grid place-items-center gap-y-3 md:grid-cols-2 xl:flex">
                    <span class="flex">
                        <PinIcon class="text-red-600"/>
                        <p class="text-black text-lg">Tamaulipas, México</p>
                    </span>
                    <p class="hidden mx-1 text-black text-lg xl:block">|</p>
                    <span class="flex">
                        <PhoneIcon class="ml-1 text-red-600"/>
                        <a class="text-black text-lg" href="tel:+528681581653">(868)-158-1653</a>
                    </span>
                    <p class="hidden mx-1 text-black text-lg xl:block">|</p>
                    <span class="flex">
                        <ArrobaIcon class="ml-1 text-red-600"/>
                        <a class="text-black text-lg" href="mailto:francisco_castilleja@outlook.com">Francisco_Castilleja@outlook.com</a>
                    </span>
                    <p class="hidden mx-1 text-black text-lg xl:block">|</p>
                    <span class="flex">
                        <LinkIcon class="ml-1 text-red-600"/>
                        <a class="text-black text-lg" href="https://franciscocastilleja.vercel.app/">{i18n.Resume_Portfolio}</a>
                    </span>
                </span>
            </span>
        </div>
        <div class="my-3 mx-5 w-auto">
            <h2 class="mt-8 text-black text-xl font-bold border-b border-black">{i18n.Resume_Profiles}</h2>
            <div class="grid mt-5 gap-y-3 lg:flex lg:mx-5">
                <span class="flex">
                    <svg width="25" height="25" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 256">
                        <path d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453" fill="#0A66C2"/>
                    </svg>
                    <a class="ml-3 text-black text-lg" href="https://www.linkedin.com/in/francisco-castilleja/">linkedin.com/in/francisco-castilleja/</a>
                </span>
                <span class="flex">
                    <GitHubIcon class="lg:ml-60" width="25" height="25"/>
                    <a class="ml-3 text-black text-lg" href="https://github.com/FranciscoCastilleja">github.com/FranciscoCastilleja</a>
                </span>
            </div>
        </div>
        <div class="my-3 mx-5 w-auto h-auto">
            <h2 class="mt-8 text-black text-xl font-bold border-b border-black">{i18n.Resume_Summary}</h2>
            <p class="mt-1 mb-5 text-black text-pretty">{i18n.Resume_Description}</p>
        </div>
        <div class="my-3 mx-5 w-auto h-auto">
            <h2 class="mt-8 text-black text-xl font-bold border-b border-black">{i18n.Menu_OP_4}</h2>
            <span class="mt-1 w-full h-auto">
                <p class="text-black font-bold float-left">_MarvelKnight_</p>
                <p class="text-black font-bold float-right">{i18n.Resume_P_Date_1}</p>
            </span>
            <p class="inline-flex mt-1"></p>
            <span class="flex mt-1">
                <LinkIcon class="text-red-600"/>
                <a class="text-black text-lg" href="https://marvelknight.vercel.app/">https://marvelknight.vercel.app/</a>
            </span>
            <p class="mt-1 mb-1 text-black text-pretty">{i18n.Resume_P_Description_1_1}</p>
            <p class="mt-1 mb-1 text-black text-pretty">{i18n.Resume_P_Description_1_2}</p>
            <p class="mt-1 mb-5 text-black text-pretty">{i18n.Resume_P_Description_1_3}</p>
            <span class="mt-5 w-full h-auto">
                <p class="text-black font-bold float-left">Star Wars Chronology</p>
                <p class="text-black font-bold float-right">{i18n.Resume_P_Date_2}</p>
            </span>
            <p class="inline-flex mt-1"></p>
            <span class="flex mt-1">
                <LinkIcon class="text-red-600"/>
                <a class="text-black text-lg" href="https://starwars-chronology.vercel.app/">https://starwars-chronology.vercel.app/</a>
            </span>
            <p class="mt-1 mb-1 text-black text-pretty">{i18n.Resume_P_Description_2_1}</p>
            <p class="mt-1 mb-1 text-black text-pretty">{i18n.Resume_P_Description_2_2}</p>
            <p class="mt-1 mb-1 text-black text-pretty">{i18n.Resume_P_Description_2_3}</p>
        </div>
        <div class="my-3 mx-5 w-auto h-auto">
            <h2 class="mt-8 text-black text-xl font-bold border-b border-black">{i18n.Resume_ED}</h2>
            <span class="mt-5 w-full h-auto">
                <p class="text-black font-bold sm:float-left">Universidad Autónoma de Tamaulipas</p>
                <p class="text-black font-bold sm:float-right">{i18n.Resume_ED_Date}</p>
            </span>
            <p class="hidden mt-1 sm:inline-flex"></p>
            <p class="my-1 text-black text-pretty">{i18n.Resume_ED_Carreer}</p>
            <p class="my-1 text-black text-pretty">9.0</p>
            <span class="flex mt-1">
                <LinkIcon class="text-red-600"/>
                <a class="text-black text-lg" href="https://www.uat.edu.mx/">https://www.uat.edu.mx/</a>
            </span>
            <p class="mt-1 mb-1 text-black text-pretty">{i18n.Resume_ED_Description}</p>
        </div>
        <div class="my-3 mx-5 w-auto h-auto">
            <h2 class="mt-8 text-black text-xl font-bold border-b border-black">{i18n.Menu_OP_5}</h2>
            <span class="grid gap-x-3 grid-cols-3 sm:grid-cols-5">
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">HTML</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">CSS</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">Tailwind CSS</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">JavaScript</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">TypeScript</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">Astro</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">Next.js</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">React.js</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">Git</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">GitHub</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">Vercel</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">Netlify</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">Supabase</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">MySQL</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">PHP</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">Node.js</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">Express.js</p>
                <p class="grid place-items-center my-1 p-1 text-black text-center font-bold">Angular</p>
            </span>
        </div>
        <div class="my-3 mx-5 w-auto h-auto">
            <h2 class="mt-8 text-black text-xl font-bold border-b border-black">{i18n.Resume_Recognitions}</h2>
            <span class="mt-5 w-full h-auto">
                <p class="text-black font-bold float-left">{i18n.PE_1_Header} Reynosa-RODHE</p>
                <p class="text-black font-bold float-right">{i18n.EC_8_Date}</p>
            </span>
            <p class="inline-flex mt-1"></p>
            <p class="my-1 text-black text-pretty">Universidad Académica Multidisciplinaria Reynosa-RODHE</p>
            <p class="my-1 text-black text-pretty">{i18n.Resume_R_Description}</p>
        </div>
        <div class="my-3 mx-5 w-auto h-auto">
            <h2 class="mt-8 text-black text-xl font-bold border-b border-black">{i18n.Menu_OP_7}s</h2>
            <span class="flex gap-x-44 sm:gap-x-80">
                <span>
                    <p class="grid place-items-center mt-1 text-black text-center font-bold">{i18n.Resume_LAN_ES}</p>
                    <p class="grid place-items-center mb-1 text-black text-center">{i18n.Resume_LAN_ES_Level}</p>
                </span>
                <span>
                    <p class="grid place-items-center mt-1 text-black text-center font-bold">{i18n.Resume_LAN_EN}</p>
                    <p class="grid place-items-center mb-1 text-black text-center">B2</p>
                </span>
            </span>
        </div>
        <div data-dial-init class="fixed end-6 bottom-6 group">
            <div id="speed-dial-menu-click" class="flex-col items-center hidden mb-4 space-y-2">
                <button id="btn_back" value={i18n.Link_Index} type="button" data-tooltip-target="tooltip-print" data-tooltip-placement="left" class="flex justify-center items-center w-[52px] h-[52px] text-gray-600 hover:text-gray-900 bg-purple-300 rounded-full border border-purple-200 dark:border-purple-600 shadow-sm dark:hover:text-white dark:text-gray-300 hover:bg-purple-100 dark:bg-purple-700 dark:hover:bg-purple-600 focus:ring-4 focus:ring-purple-300 focus:outline-none dark:focus:ring-purple-400">
                    <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M15 6l-6 6l6 6" />
                    </svg>
                </button>
                <button id="btn_pdf" type="button" data-tooltip-target="tooltip-download" data-tooltip-placement="left" class="flex justify-center items-center w-[52px] h-[52px] text-gray-600 hover:text-gray-900 bg-purple-300 rounded-full border border-purple-200 dark:border-purple-600 shadow-sm dark:hover:text-white dark:text-gray-300 hover:bg-purple-100 dark:bg-purple-700 dark:hover:bg-purple-600 focus:ring-4 focus:ring-purple-300 focus:outline-none dark:focus:ring-purple-400">
                    <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                        <path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
                        <path d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6" />
                        <path d="M17 18h2" />
                        <path d="M20 15h-3v6" />
                        <path d="M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z" />
                    </svg>
                    <a id="a_pdf" class="hidden" href=`/media/${i18n.Link_PDF}` download={i18n.Link_PDF}></a>
                </button>
                <button id="btn_png" type="button" data-tooltip-target="tooltip-copy" data-tooltip-placement="left" class="flex justify-center items-center w-[52px] h-[52px] text-gray-600 hover:text-gray-900 bg-purple-300 rounded-full border border-purple-200 dark:border-purple-600 shadow-sm dark:hover:text-white dark:text-gray-300 hover:bg-purple-100 dark:bg-purple-700 dark:hover:bg-purple-600 focus:ring-4 focus:ring-purple-300 focus:outline-none dark:focus:ring-purple-400">
                    <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                        <path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
                        <path d="M20 15h-1a2 2 0 0 0 -2 2v2a2 2 0 0 0 2 2h1v-3" />
                        <path d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6" />
                        <path d="M11 21v-6l3 6v-6" />
                    </svg>
                    <a id="a_png2" class="hidden" href=`/media/${i18n.Link_PNG}` download={i18n.Link_PNG}></a>
                </button>
            </div>
            <button type="button" id="btn" data-dial-toggle="speed-dial-menu-click" data-dial-trigger="click" aria-controls="speed-dial-menu-click" aria-expanded="false" class="flex items-center justify-center text-white bg-purple-700 rounded-full w-14 h-14 hover:bg-purple-800 dark:bg-purple-600 dark:hover:bg-purple-700 focus:ring-4 focus:ring-purple-300 focus:outline-none dark:focus:ring-purple-800">
                <svg class="w-5 h-5 transition-transform group-hover:rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                </svg>
            </button>
        </div>
    </main>
</Layout>

<script>
    const btn = document.getElementById('btn') as HTMLButtonElement;
    const pnl = document.getElementById('speed-dial-menu-click') as HTMLElement;
    const btn_back = document.getElementById('btn_back') as HTMLButtonElement;
    const btn_pdf = document.getElementById('btn_pdf') as HTMLButtonElement;
    const btn_png = document.getElementById('btn_png') as HTMLButtonElement;

    btn.addEventListener('click', () => {
        if (pnl.classList.contains('hidden')) {
            pnl.classList.replace('hidden', 'flex');
        } else {
            pnl.classList.replace('flex', 'hidden');
        }
    });
    
    document.addEventListener('click', (event) => {
        if (!(btn && btn.contains(event.target as Node))) {
            if (pnl.classList.contains('flex')) {
                pnl.classList.replace('flex', 'hidden');
            }
        }
    });

    btn_back.addEventListener('click', () => {
        window.location.href = btn_back.value;
    });

    btn_pdf.addEventListener('click', () => {
        let pdf = document.getElementById('a_pdf') as HTMLAnchorElement;

        pdf.click();
    })

    btn_png.addEventListener('click', () => {
        let png2 = document.getElementById('a_png2') as HTMLAnchorElement;

        png2.click();
    })

    /*
        Para descargar dos imágenes solo se debe agregar la siguiente etiqueta

        <a id="a_png1" href=`/media/${i18n.Link_PNG_1}` download={i18n.Link_PNG_1}>
            Dentro el button para la imagen 2
        </a>

        Esta descarga la imagen 1
    */
</script>