---
import Section from "./Section.astro";
import ContactoIcon from "./icons/ContactoIcon.astro";

import { getI18N } from '../i18n/';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Section id="contacto">
    <h2 class="flex pb-1 text-xl font-bold items-center gap-x-1">
        <ContactoIcon class="fill-black dark:fill-white"/>
        {i18n.Menu_OP_8}
    </h2>
    <div class="grid py-5 max-w-lg w-full h-auto gap-y-3 place-items-center">
        <form class="max-w-lg w-full mx-auto" id="form_contact">
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="full_name" id="full_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="full_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{i18n.Contact_FName}</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{i18n.Contact_Email}</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{i18n.Contact_Country}</label>
                <select id="countries" name="country" class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"> 
                    <option>{i18n.Contact_C_1}</option>
                    <option>{i18n.Contact_C_2}</option>
                    <option>{i18n.Contact_C_3}</option>
                    <option>{i18n.Contact_C_4}</option>
                </select>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{i18n.Contact_Message}</label>
                <textarea id="message" name="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-200 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder={i18n.Contact_M_PlaceHolder}></textarea>
            </div>
            <button type="submit" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">{i18n.Contact_Button}</button>
        </form>  
    </div>
</Section>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
<script type="text/javascript">
    const form = document.getElementById('form_contact');

    const sendEmail = (e) => {
        e.preventDefault();

        emailjs.sendForm('service_qt5m989', 'template_2yvcckx', '#form_contact', 'jJtVEazehl2fwNgBK')
        .then(() => {
            alert("Mensaje Enviado");
            form.reset()
        }, () => {
            alert("Error al enviar el mensaje")
        });
    }

    form.addEventListener('submit', sendEmail);
</script>