---
import Section from "./Section.astro";
import EstudiosIcon from "./icons/EstudiosIcon.astro";

import { getI18N } from '../i18n/';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Section id="estudios"> 
    <h2 class="flex pb-1 text-xl font-bold items-center gap-x-1">
        <EstudiosIcon class="fill-black dark:fill-white"/>
        {i18n.Sub_EC}
    </h2>
    <div class="grid py-5 w-full h-auto gap-y-3 place-items-center sm:max-w-xl">
        <div class="block w-full sm:max-w-sm p-6 bg-gray-200 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Universidad Autónoma de Tamaulipas</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">FMeISCdM</p>
            <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_Description}</p>
            <p class="font-normal text-gray-700 dark:text-gray-400">2019 - 2023 ({i18n.EC_Title})</p>
        </div>
        <a class="w-full sm:w-auto" href="https://www.sololearn.com/certificates/CC-EIANC5Y3" target="_blank">
            <div class="block w-full sm:max-w-sm sm:min-w-96 p-6 bg-gray-200 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">JavaScript Intermediate</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_Course} sololearn</p>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_8_Date}</p>
            </div>
        </a>
        <a class="w-full sm:w-auto" href="https://www.sololearn.com/certificates/CC-YUXHBRI1" target="_blank">
            <div class="block w-full sm:max-w-sm sm:min-w-96 p-6 bg-gray-200 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Introduction to JavaScript</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_Course} sololearn</p>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_7_Date}</p>
            </div>
        </a>
        <a class="w-full sm:w-auto" href="https://www.sololearn.com/certificates/CC-P37JAC8X" target="_blank">
            <div class="block w-full sm:max-w-sm sm:min-w-96 p-6 bg-gray-200 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Introduction to CSS</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_Course} sololearn</p>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_6_Date}</p>
            </div>
        </a>
        <a class="w-full sm:w-auto" href="https://www.sololearn.com/certificates/CC-CTPOS2GN" target="_blank">
            <div class="block w-full sm:max-w-sm sm:min-w-96 p-6 bg-gray-200 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Introduction to HTML</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_Course} sololearn</p>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_5_Date}</p>
            </div>
        </a>
        <a class="w-full sm:w-auto" href="https://www.sololearn.com/certificates/CT-FPP62DNQ" target="_blank">
            <div class="block w-full sm:max-w-sm sm:min-w-96 p-6 bg-gray-200 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Python Core</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_Course} sololearn</p>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_4_Date}</p>
            </div>
        </a>
        <a class="w-full sm:w-auto" href="https://www.sololearn.com/certificates/CT-JPKLLCTC" target="_blank">
            <div class="block w-full sm:max-w-sm sm:min-w-96 p-6 bg-gray-200 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Intermediate Python</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_Course} sololearn</p>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_3_Date}</p>
            </div>
        </a>
        <a class="w-full sm:w-auto" href="https://www.sololearn.com/certificates/CT-HPSQ4TSE" target="_blank">
            <div class="block w-full sm:max-w-sm sm:min-w-96 p-6 bg-gray-200 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Python for Beginners</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_Course} sololearn</p>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_2_Date}</p>
            </div>
        </a>
        <a class="w-full sm:w-auto" href="https://www.sololearn.com/certificates/CT-UUP2WDW5" target="_blank">
            <div class="block w-full sm:max-w-sm sm:min-w-96 p-6 bg-gray-200 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">SQL</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_Course} sololearn</p>
                <p class="font-normal text-gray-700 dark:text-gray-400">{i18n.EC_1_Date}</p>
            </div>
        </a>
    </div>
</Section>