---
import Section from "./Section.astro";

import AstroIcon from './icons/AstroIcon.astro';
import ReactIcon from './icons/ReactIcon.astro';
import PostgreSQLIcon from './icons/PostgreSQLIcon.astro';
import TailwindCSSIcon from './icons/TailwindCSSIcon.astro';
import TypeScriptIcon from './icons/TypeScriptIcon.astro';
import JavaScriptIcon from './icons/JavaScriptIcon.astro';
import HTML5Icon from './icons/HTML5Icon.astro';
import CSSIcon from './icons/CSSIcon.astro';
import JWTIcon from './icons/JWTIcon.astro';

import { getI18N } from '../i18n/';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Section id="experiencia">
    <h2 class="pb-1 text-5xl uppercase text-white font-black select-none">{i18n.Menu_OP_2}</h2>
    <div class="flex py-5 w-full h-[40rem] flex-col items-center gap-y-5 md:flex-row md:justify-center gap-x-5 md:h-80">
        <div class="p-5 w-80 h-full bg-white/5 rounded-lg flex flex-col gap-y-3">
            <p class="text-sm font-light text-white/50">{i18n.Exp_1_Date}</p>
            <h3 class="text-lg font-semibold text-white">{i18n.Exp_1_Header}</h3>
            <p class="text-sm font-normal text-white/80">{i18n.Exp_1_Description}</p>
            <span class="flex">
                <AstroIcon width="25" height="25"/>
                <ReactIcon width="25" height="25" class="ml-2"/>
                <PostgreSQLIcon width="25" height="25" class="ml-2"/>
                <TailwindCSSIcon width="25" height="25" class="ml-2"/>
                <TypeScriptIcon width="25" height="25" class="ml-2"/>
                <JavaScriptIcon width="25" height="25" class="ml-2"/>
                <HTML5Icon width="25" height="25" class="ml-2"/>
                <CSSIcon width="25" height="25" class="ml-2"/>
                <JWTIcon width="25" height="25" class="ml-2"/>
            </span>
        </div>
        <div class="p-5 w-80 h-full bg-white/5 rounded-lg flex flex-col gap-y-3">
            <p class="text-sm font-light text-white/50">{i18n.Exp_2_Date}</p>
            <h3 class="text-lg font-semibold text-white">{i18n.Exp_2_Header}</h3>
            <p class="text-sm font-normal text-white/80">{i18n.Exp_2_Description}</p>
            <span class="flex">
                <AstroIcon width="25" height="25"/>
                <ReactIcon width="25" height="25" class="ml-2"/>
                <PostgreSQLIcon width="25" height="25" class="ml-2"/>
                <TailwindCSSIcon width="25" height="25" class="ml-2"/>
                <TypeScriptIcon width="25" height="25" class="ml-2"/>
                <JavaScriptIcon width="25" height="25" class="ml-2"/>
                <HTML5Icon width="25" height="25" class="ml-2"/>
                <CSSIcon width="25" height="25" class="ml-2"/>
                <JWTIcon width="25" height="25" class="ml-2"/>
            </span>
        </div>
    </div>
</Section>