---
import HabilidadesIcon from "./icons/HabilidadesIcon.astro";
import WindowsIcon from "./icons/WindowsIcon.astro";
import LinuxIcon from "./icons/LinuxIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import GitIcon from "./icons/GitIcon.astro";
import TensorFlowIcon from "./icons/TensorFlowIcon.astro";
import PythonIcon from "./icons/PythonIcon.astro";
import MarkdownIcon from "./icons/MarkdownIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import HTML5Icon from "./icons/HTML5Icon.astro";
import CSSIcon from "./icons/CSSIcon.astro";
import CSharpIcon from "./icons/CSharpIcon.astro";
import TailwindCSSIcon from "./icons/TailwindCSSIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import MySQLIcon from "./icons/MySQLIcon.astro";
import MicrosoftSQLServerIcon from "./icons/MicrosoftSQLServerIcon.astro";
import PHPIcon from "./icons/PHPIcon.astro";
import SpanIcon from "./SpanIcon.astro";
import Section from "./Section.astro";

import { getI18N } from '../i18n/';
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import NextjsIcon from "./icons/NextjsIcon.astro";
import VercelIcon from "./icons/VercelIcon.astro";
import NetlifyIcon from "./icons/NetlifyIcon.astro";
import SupabaseIcon from "./icons/SupabaseIcon.astro";
import NodejsIcon from "./icons/NodejsIcon.astro";
import ExpressjsIcon from "./icons/ExpressjsIcon.astro";
import AngularIcon from "./icons/AngularIcon.astro";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Section id="habilidades">
    <h2 class="flex pb-1 text-xl font-bold items-center gap-x-1">
        <HabilidadesIcon class="fill-black dark:fill-white"/>
        {i18n.Menu_OP_5}
    </h2>
    <div class="grid py-5 w-full h-auto gap-3 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 lg:max-w-2xl">
        <div class="grid w-full bg-gray-200 rounded-xl col-auto row-auto sm:w-auto sm:px-5 dark:bg-slate-800">
            <h2 class="py-5 text-xl font-bold text-center">{i18n.Skills_Cat_1}</h2>
            <span class="flex py-5 gap-x-5 justify-center">
                <SpanIcon>
                    <WindowsIcon/>
                    <h3 class="pt-1">Windows</h3>
                </SpanIcon>
                <SpanIcon>
                    <LinuxIcon/>
                    <h3 class="pt-1">Linux</h3>
                </SpanIcon>
            </span>
        </div>
        <div class="grid w-full bg-gray-200 rounded-xl col-auto row-auto sm:w-auto sm:px-5 dark:bg-slate-800">
            <h2 class="py-5 text-xl font-bold text-center">{i18n.Skills_Cat_2}</h2>
            <span class="flex py-5 gap-x-5 justify-center">
                <SpanIcon>
                    <GitIcon/>
                    <h3 class="pt-1">Git</h3>
                </SpanIcon>
                <SpanIcon>
                    <GitHubIcon width="50" height="50"/>
                    <h3 class="pt-1">GitHub</h3>
                </SpanIcon>
            </span>
        </div>
        <div class="grid w-full bg-gray-200 rounded-xl col-auto row-auto sm:w-auto sm:px-5 dark:bg-slate-800">
            <h2 class="py-5 text-xl font-bold text-center">{i18n.Skills_Cat_3}</h2>
            <span class="flex py-5 gap-x-5 justify-center">
                <SpanIcon>
                    <TensorFlowIcon/>
                    <h3 class="pt-1">TensorFlow</h3>
                </SpanIcon>
            </span>
        </div>
        <div class="grid w-full bg-gray-200 rounded-xl col-auto row-auto sm:w-auto sm:px-5 dark:bg-slate-800">
            <h2 class="py-5 text-xl font-bold text-center">{i18n.Skills_Cat_4}</h2>
            <span class="flex py-5 gap-x-5 justify-center">
                <SpanIcon>
                    <PythonIcon/>
                    <h3 class="pt-1">Python</h3>
                </SpanIcon>
            </span>
        </div>
        <div class="grid w-full bg-gray-200 rounded-xl col-auto row-auto sm:w-auto sm:px-5 dark:bg-slate-800">
            <h2 class="py-5 text-xl font-bold text-center">{i18n.Skills_Cat_5}</h2>
            <span class="flex py-5 gap-x-5 justify-center">
                <SpanIcon>
                    <MySQLIcon/>
                    <h3 class="pt-1">MySQL</h3>
                </SpanIcon>
                <SpanIcon>
                    <MicrosoftSQLServerIcon/>
                    <h3 class="pt-1 text-xs text-center">Microsoft SQL Server</h3>
                </SpanIcon>
            </span>
        </div>
        <div class="grid w-full bg-gray-200 rounded-xl col-auto row-auto sm:w-auto sm:px-5 dark:bg-slate-800">
            <h2 class="py-5 text-xl font-bold text-center">{i18n.Skills_Cat_6}</h2>
            <span class="flex py-5 gap-x-5 justify-center">
                <SpanIcon>
                    <MarkdownIcon class="fill-black stroke-black dark:fill-white dark:stroke-white"/>
                    <h3 class="pt-1">Markdown</h3>
                </SpanIcon>
            </span>
        </div>
        <div class="grid w-full bg-gray-200 rounded-xl col-auto row-auto sm:w-auto sm:px-5 sm:col-span-2 lg:col-span-3 dark:bg-slate-800">
            <h2 class="py-5 text-xl font-bold text-center">{i18n.Skills_Cat_7}</h2>
            <span class="grid py-5 gap-x-5 grid-cols-2 sm:grid-cols-3">
                <SpanIcon>
                    <HTML5Icon width="50" height="50"/>
                    <h3 class="pt-1">HTML5</h3>
                </SpanIcon>
                <SpanIcon>
                    <CSSIcon width="50" height="50"/>
                    <h3 class="pt-1">CSS</h3>
                </SpanIcon>
                <SpanIcon>
                    <TailwindCSSIcon width="50" height="50"/>
                    <h3 class="pt-1 text-xs text-center">Tailwind CSS</h3>
                </SpanIcon>
                <SpanIcon>
                    <JavaScriptIcon width="50" height="50"/>
                    <h3 class="pt-1">JavaScript</h3>
                </SpanIcon>
                <SpanIcon>
                    <TypeScriptIcon width="50" height="50"/>
                    <h3 class="pt-1">TypeScript</h3>
                </SpanIcon>
                <SpanIcon>
                    <AstroIcon class="fill-black dark:fill-white" width="50" height="50"/>
                    <h3 class="pt-1">Astro</h3>
                </SpanIcon>
                <SpanIcon>
                    <NextjsIcon width="50" height="50"/>
                    <h3 class="pt-1">Next.js</h3>
                </SpanIcon>
                <SpanIcon>
                    <ReactIcon width="50" height="50"/>
                    <h3 class="pt-1">React.js</h3>
                </SpanIcon>
                <SpanIcon>
                    <PHPIcon class="fill-black dark:fill-white" width="50" height="50"/>
                    <h3 class="pt-1">PHP</h3>
                </SpanIcon>
                <SpanIcon>
                    <NodejsIcon width="50" height="50"/>
                    <h3 class="pt-1">Node.js</h3>
                </SpanIcon>
                <SpanIcon>
                    <ExpressjsIcon width="50" height="50"/>
                    <h3 class="pt-1">Express.js</h3>
                </SpanIcon>
                <SpanIcon>
                    <AngularIcon width="50" height="50"/>
                    <h3 class="pt-1">Angular</h3>
                </SpanIcon>
            </span>
        </div>
        <div class="grid w-full bg-gray-200 rounded-xl col-auto row-auto sm:w-auto sm:px-5 sm:col-span-2 lg:col-span-3 dark:bg-slate-800">
            <h2 class="py-5 text-xl font-bold text-center">{i18n.Skills_Cat_8}</h2>
            <span class="grid py-5 gap-x-5 grid-cols-2 sm:grid-cols-3">
                <SpanIcon>
                    <VercelIcon class="fill-black dark:fill-white"/>
                    <h3 class="pt-1">Vercel</h3>
                </SpanIcon>
                <SpanIcon>
                    <NetlifyIcon width="50" height="50"/>
                    <h3 class="pt-1">Netlify</h3>
                </SpanIcon>
                <SpanIcon>
                    <SupabaseIcon width="50" height="50"/>
                    <h3 class="pt-1">Supabase</h3>
                </SpanIcon>
            </span>
        </div>
    </div>
</Section>