---
import EsMxIcon from './icons/EsMxIcon.astro'
import EnUsIcon from './icons/EnUsIcon.astro'

import { getI18N } from '../i18n/';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<header class="grid fixed mt-6 w-full h-10 place-items-center z-10">
    <nav id="nav" class="flex py-1 px-3 size-auto text-white bg-gray-200 rounded-lg border border-white/30 gap-x-2 sm:gap-x-5 dark:bg-slate-800">
        <a href="#inicio" class="p-1 text-black hover:bg-gray-300 hover:rounded-lg dark:hover:bg-slate-600 dark:text-white">{i18n.Menu_OP_1}</a>
        <a href="#experiencia" class="p-1 text-black hover:bg-gray-300 hover:rounded-lg dark:hover:bg-slate-600 dark:text-white">{i18n.Menu_OP_2}</a>
        <a href="#sobremi" class="p-1 text-black hover:bg-gray-300 hover:rounded-lg dark:hover:bg-slate-600 dark:text-white">{i18n.Menu_OP_4}</a>
        <button class="p-1 text-black hover:bg-gray-300 hover:rounded-lg dark:hover:bg-slate-600 dark:text-white" onclick="document.getElementById('Lang_Ops').classList.toggle('hidden')">{i18n.Menu_OP_7}</button>
    </nav>
    <div id="Lang_Ops" class="hidden absolute p-3 top-12 bg-gray-200 rounded-lg dark:bg-slate-800">
        <a href="/" class="hidden p-1 text-black gap-x-3 rounded-lg lg:flex hover:bg-gray-300 dark:hover:bg-slate-600 dark:text-white">
            {i18n.Menu_OP_7_es}
        </a>
        <a href="/en" class="hidden p-1 text-black gap-x-3 rounded-lg lg:flex hover:bg-gray-300 dark:hover:bg-slate-600 dark:text-white">
            {i18n.Menu_OP_7_en}
        </a>
        <a href="/" class="flex p-1 gap-x-3 rounded-lg lg:hidden hover:bg-gray-300 dark:hover:bg-slate-600">
            <EsMxIcon width="25" height="25"/>
        </a>
        <a href="/en" class="flex p-1 gap-x-3 rounded-lg lg:hidden hover:bg-gray-300 dark:hover:bg-slate-600">
            <EnUsIcon width="25" height="25"/>
        </a>
    </div>
</header>

<script>
    document.addEventListener("DOMContentLoaded", function() {
		var scrollLinks = document.querySelectorAll('nav a');

		scrollLinks.forEach(function(scrollLink) {
			scrollLink.addEventListener('click', function(this: HTMLAnchorElement, e) {
				e.preventDefault();

                let hrefAttribute = this.getAttribute('href');

                if(hrefAttribute) {
                    var targetId = hrefAttribute.substring(1);
				
                    var targetElement = document.getElementById(targetId) as HTMLElement;

                    targetElement.scrollIntoView({
                        behavior: 'smooth'
                    });
                }
			});
		});
	});
</script>

<script>
    let LangOps = document.getElementById("Lang_Ops") as HTMLElement;
    let body = document.querySelector('body') as HTMLElement;
    let nav = document.getElementById('nav') as HTMLElement;
    let btn = nav.querySelector('button') as HTMLButtonElement;

    function CheckMenu() {
        let l = btn.getBoundingClientRect().left;
        if (body.clientWidth > 1023) { 
            LangOps.style.left = (l - 15).toString() + "px";
        } else {
            LangOps.style.left = (l).toString() + "px";
        }
    }

    setInterval(CheckMenu, 1)
</script>