---
import Section from "./Section.astro";
import ParticipacionEventosIcon from "./icons/ParticipacionEventosIcon.astro";

import { getI18N } from '../i18n/';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Section id="participacioneventos">
    <h2 class="flex pb-1 text-xl font-bold items-center gap-x-1">
        <ParticipacionEventosIcon class="fill-black dark:fill-white"/>
        {i18n.Sub_PE}
    </h2>
    <div class="py-5 w-full h-auto lg:max-w-2xl"> 
        <ol class="relative border-s border-gray-700 dark:border-gray-100">                  
            <li class="mb-10 ms-6">            
                <span class="absolute flex items-center justify-center w-6 h-6 bg-purple-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-purple-900">
                    <svg class="w-2.5 h-2.5 text-purple-800 dark:text-purple-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                </span>
                <div class="flex ml-2 flex-col items-center bg-gray-200 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-contain w-full h-auto rounded-t-lg md:ml-2 md:h-auto md:w-48 md:rounded-lg zoom" src="../../public/media/Reconocimiento-ISC.webp" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:text-white">{i18n.PE_1_Header} Reynosa-RODHE</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{i18n.PE_1_Description}</p>
                    </div>
                </div>
            </li>
            <li class="mb-10 ms-6">
                <span class="absolute flex items-center justify-center w-6 h-6 bg-purple-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-purple-900">
                    <svg class="w-2.5 h-2.5 text-purple-800 dark:text-purple-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                </span>
                <div class="flex ml-2 flex-col items-center bg-gray-200 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-black dark:text-white">{i18n.PE_2_Header}</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{i18n.PE_2_Description}</p>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</Section>