---
import Section from "./Section.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import CSSIcon from "./icons/CSSIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import HTML5Icon from "./icons/HTML5Icon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import NetlifyIcon from "./icons/NetlifyIcon.astro";
import ProyectosIcon from "./icons/ProyectosIcon.astro";
import TailwindCSSIcon from "./icons/TailwindCSSIcon.astro";
import ExternalLinkIcon from "./icons/ExternalLinkIcon.astro";
import NextjsIcon from "./icons/NextjsIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
import VercelIcon from "./icons/VercelIcon.astro";
import SupabaseIcon from "./icons/SupabaseIcon.astro";
import { getI18N } from '../i18n/';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Section id="proyectos">
    <h2 class="flex pb-1 text-xl font-bold items-center gap-x-1">
        <ProyectosIcon class="fill-black dark:fill-white"/>
        {i18n.Menu_OP_4}
    </h2>
    <div class="py-5 w-full h-auto lg:max-w-2xl"> 
        <div class="grid my-2 p-2 place-items-center gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
            <div class="col-auto row-auto max-w-sm bg-gray-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 md:max-w-lg">
                <img class="rounded-t-lg zoom" src="/media/MarvelKnight.webp" alt="Foto de la p치gina _MarvelKnight_" />
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">_MarvelKnight_</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{i18n.P_4_Description_1}</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{i18n.P_4_Description_2}</p>
                    <span class="flex mb-3 py-1 gap-x-1">
                        <NextjsIcon width="25" height="25"/>
                        <ReactIcon width="25" height="25"/>
                        <HTML5Icon width="25" height="25"/>
                        <CSSIcon width="25" height="25"/>
                        <TailwindCSSIcon width="25" height="25"/>
                        <TypeScriptIcon width="25" height="25"/>
                        <VercelIcon class="fill-black dark:fill-white" width="25" height="25"/>
                        <SupabaseIcon width="25" height="25"/>
                    </span>
                    <span class="flex mb-3 py-1 gap-x-1">
                        <a class="hover:scale-105" href="https://marvelknight.vercel.app/" target="_blank" rel="noopener noreferrer">
                            <ExternalLinkIcon width="30" height="30"/>
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-auto row-auto max-w-sm h-full bg-gray-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 md:max-w-lg">
                <img class="rounded-t-lg zoom" src="/media/StarWarsChronology.webp" alt="Foto de la p치gina Star Wars Chronology" />
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Star Wars Chronology</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{i18n.P_3_Description_1}</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{i18n.P_3_Description_2}</p>
                    <span class="flex mb-3 py-1 gap-x-1">
                        <NextjsIcon width="25" height="25"/>
                        <ReactIcon width="25" height="25"/>
                        <HTML5Icon width="25" height="25"/>
                        <CSSIcon width="25" height="25"/>
                        <TailwindCSSIcon width="25" height="25"/>
                        <TypeScriptIcon width="25" height="25"/>
                        <VercelIcon class="fill-black dark:fill-white" width="25" height="25"/>
                        <SupabaseIcon width="25" height="25"/>
                    </span>
                    <span class="flex mb-3 py-1 gap-x-1">
                        <a class="hover:scale-105" href="https://starwars-chronology.vercel.app/" target="_blank" rel="noopener noreferrer">
                            <ExternalLinkIcon width="30" height="30"/>
                        </a>
                        <a class="hover:scale-105" href="https://github.com/FranciscoCastilleja/StarWarsProject" target="_blank" rel="noopener noreferrer">
                            <GitHubIcon width="30" height="30"/>
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-auto row-auto max-w-sm h-full bg-gray-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 md:max-w-lg">
                <img class="rounded-t-lg zoom" src="/media/MisIdeas-IMG-1.webp" alt="Foto de la p치gina Mis Ideas" />
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mis Ideas</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{i18n.P_1_Description_1}</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{i18n.P_1_Description_2}</p>
                    <span class="flex mb-3 py-1 gap-x-1">
                        <AstroIcon class="fill-black dark:fill-white" width="25" height="25"/>
                        <HTML5Icon width="25" height="25"/>
                        <CSSIcon width="25" height="25"/>
                        <TailwindCSSIcon width="25" height="25"/>
                        <JavaScriptIcon width="25" height="25"/>
                        <NetlifyIcon width="25" height="25"/>
                    </span>
                    <span class="flex mb-3 py-1 gap-x-1">
                        <a class="hover:scale-105" href="https://misideas.netlify.app/" target="_blank" rel="noopener noreferrer">
                            <ExternalLinkIcon width="30" height="30"/>
                        </a>
                        <a class="hover:scale-105" href="https://github.com/FranciscoCastilleja/MisIdeas" target="_blank" rel="noopener noreferrer">
                            <GitHubIcon width="30" height="30"/>
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-auto row-auto max-w-sm h-full bg-gray-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 md:max-w-lg">
                <img class="rounded-t-lg zoom" src="/media/SpaceX-Clon-IMG-1.webp" alt="Foto de la p치gina SpaceX - Clon" />
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">SpaceX - Clon</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{i18n.P_2_Description_1}</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{i18n.P_2_Description_2}</p>
                    <span class="flex mb-3 py-1 gap-x-1">
                        <AstroIcon class="fill-black dark:fill-white" width="25" height="25"/>
                        <HTML5Icon width="25" height="25"/>
                        <CSSIcon width="25" height="25"/>
                        <TailwindCSSIcon width="25" height="25"/>
                        <JavaScriptIcon width="25" height="25"/>
                        <NetlifyIcon width="25" height="25"/>
                    </span>
                    <span class="flex mb-3 py-1 gap-x-1">
                        <a class="hover:scale-105" href="https://spacexclon.netlify.app/" target="_blank" rel="noopener noreferrer">
                            <ExternalLinkIcon width="30" height="30"/>
                        </a>
                        <a class="hover:scale-105" href="https://github.com/FranciscoCastilleja/SpaceXClon" target="_blank" rel="noopener noreferrer">
                            <GitHubIcon width="30" height="30"/>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</Section>