---
import Section from "./Section.astro";
import SobreMiIcon from "./icons/SobreMiIcon.astro";

import { getI18N } from '../i18n/';
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })
---

<Section id="sobremi">
    <h2 class="flex pb-1 text-xl font-bold items-center gap-x-1">
        <SobreMiIcon class="fill-black dark:fill-white"/>
        {i18n.Menu_OP_7}
    </h2>
    <div class="grid py-5 max-w-xl h-auto gap-y-3 place-items-center">
        <img class="size-52 rounded-full object-cover" src="../../public/media/foto.webp" alt="Foto">
        <p class="text-pretty">{i18n.AM_1}</p>
        <p class="text-pretty">{i18n.AM_2}</p>
        <p class="text-pretty">{i18n.AM_3}</p>
        <p class="text-pretty">{i18n.AM_4}</p>
    </div>
</Section>